* {
    background-color:;
    box-sizing:border-box;
    margin: 0px;
    padding:0px;
}

header{
    background-color:darkgrey;
    width:100%;
}

header nav{

}

header h1{
    background-color:darkgrey;
    font-size:48px;
    height:90px;
    display:inline-block
}

nav li{
    font-family:Arial, Helvetica, sans-serif;
    Font-Size:24px;
    font-weight:bold; 
    margin-right: 10px;
    display:inline-block;
    justify-items:flex-end;
}



