/* Basic Styling for page allows for overall padding and font family*/
* {
    background-color:white;
    box-sizing:border-box;
    margin: 0px;
    padding:0px;
    font-family:Arial;
    font-size: 1.3rem;
    color:black;
    /* Boarder is for aligning items and testing comment out to see boarders */
    /* border:solid black; */
}

/* Adding the method of content alignment and additional padding for this div */
article{
    flex-wrap:wrap;
    /* padding:2%; */
}

/* Dividing line for section and background color for header section */
header{
    background-color:rgb(50, 50, 50);
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 4px black;
    width:100%;
}

/* Name general font formatting and background color */
header h1{
    background-color:rgb(50, 50, 50);
    font-size:72px;
    height:100px;
    color:White;
    margin-left:1%;
}

#aboutme h2 {
    color: black;
}

/* Red letter styling customization for main header "Name" */
.redletter {
    color:red;
    background-color: transparent;
}

/* Red letter styling for the rest of the website "span" */
.redletter2{
    color:red;
}

.redletterHead {
    font-size: 72px;
    background-color: rgb(50, 50, 50);
    color: red;
}

/* Navigation items setup font color and styling */
nav li{
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    Font-Size:1.6rem;
    font-weight:bold; 
    background-color:transparent;
    float: right;
    margin-right:10px;
    text-decoration: none;
}

/* Hover styling for navigation a tags with smooth transition */
nav a:hover{
    color:red;
    transition-duration:.3s;
}


/* ID used to locate this div when clicked in the navigation */
/* Also used to provide the red divider */
#aboutme{
    border-bottom: solid black;
    color: black;
}

/* Main article image styling and border */
.introImg{
    width:35%;
    margin: 5px;
    border:solid black;
    border-radius: 180px;
    box-shadow: 2px 3px 4px black;
}

/* Article image hover smooth transition */
.article img:hover{
    border: solid red;
    transition-duration:1s;
}

/* Article header styling and margin */
.article h2{
    color:white;
    margin: 2% 2.45% 0% 2.45%;
    /* display:inline-block; */
}

/* Article p tag styling font size testing left in place as there were no issues */
.article p{
    /* font-size:1rem; */
    margin: 0 2.45% 2% 2.45%;
}

/* Testing flex properties on the photo float created */
/* Used border as secondary divider for content */
.test1{
    width:100%;
    height:300px;
    border-bottom:solid black
}

/* Flexbox setup for Photo float div formatting added here */
.photocontent{
    display:flexbox;
    height:200px;
    width:400px;
    margin:0% 2.45% 0% 2.45%;
}

/* Photo Float H2 styling and margin */
.photocontent h2{
    Margin-bottom:5%;
    text-decoration: none;
}

/* Photo float test with absolute margin */
.test1 img{
    margin:0% 7.45% 0 2.45%;
    float:right;
    width:50%;
    border:solid black;
    border-radius: 15px;
    box-shadow: 2px 3px 4px black;
}

/* Photo float image hover styling */
.test1 img:hover{
    color:solid white;
    transition-duration: 1s;
}

/* Card flexbox for testing alignment properties */
.card-base{
    display:flex;
    Width:100%;
    height: 350px;
    padding: 10px 0 10px 0;
    overflow: auto;
    justify-content:space-around;
    flex-wrap:wrap;
    border-bottom:solid black;
    
}

/* Card setup and spacing with padding for photo float */
.card1{
    width:27%;
    height:100%;
    padding:10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

.card1 p {
    font-size: 1rem;
}

/* Card h3 styling and margin for spacing with p tag content */
.card1 h3{
    margin-bottom:2%;
    font-weight:bold;
    background-color: grey;
}

/* Card image border and width for card placement */
.card1 img{
    /* border:solid black; */
    margin-bottom: 2%;
    width:100%
}

/* Card img hover with smooth transition */
.card1 img:hover{
    border:solid red;
    transition-duration:1s;
}

/* Flexbox for contact links and spacing */
.contactlinks{
    display:flex;
    justify-content:space-evenly;

}

/* Contact links hover styling and smooth transition */
.contactlinks a:hover{
    color:red;
    transition-duration:.3s;
}

/* Contact card overall styling and base font information  */
.ContactMe{
    display:block;
    width:100%;
    height:200px;
    padding:2%;
    text-align:center;
    border-bottom:solid black;
}

/* Contacts h2 margin for spacing with p tag content */
.ContactMe h2{
    margin-bottom:2.45%
}

/* Contacts p tag margin for spacing  */
.ContactMe P{
    Margin-bottom:2.45%
}

/* Footer font styling "size" and alignment "centered" */
footer {
    height: 3rem;
    text-align:center;
}

/* Footer hover styling and smooth transition */
footer:hover{
    color:red;
    transition-duration:1s;
}

/* Redshift media query for smaller devices (may change colors for accessibility after testing) */
@media only screen and (max-width: 972px) {
    * {
      background-color:darkred;
      transition-duration: 3s;
    }
  }

